$shape-color: #cfcfcf;
$bg-color: #3e5875;
$font-type: 'Quicksand', sans-serif;

.custom-button {
  width: 100%;
  background-color: $bg-color;
  color: $shape-color;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: $font-type;

  &:hover {
    background-color: $shape-color;
    color: $bg-color;
  }
}

