
// // mobile landscape mode
// @media (min-width: 32em) and (max-height: 32em) {
//   .item-preview {
//     width: 85vmin;
//     height: 85vmin;
//     border: 2px solid red;
//   }
// }

// // mobile protrait mode
// @media (max-width: 32em) and (min-height: 16em) {
//   .item-preview {
//     width: 70vmin;
//     height: 70vmin;
//     border: 2px solid green;
//   }
// }

// // desktop display
// @media (min-width: 32em) and (min-height: 32em) {
//   .item-preview {
//     width: 70vmin;
//     height: 70vmin;
//     border: 2px solid gray;
//   }
// }

$shape-color: #cfcfcf;

.item-preview-page {
  display: flex;
  justify-content: center;

  .close-button {
    font-size: 4vw;
    height: 7%;
    color: $shape-color;
  }
}


