$shape-color: #cfcfcf;

// mobile landscape mode
@media (min-width: 32em) and (max-height: 32em) {
  .item-preview.page {
    margin-top: 0;
    height: 75vmin;
  }
}

// mobile protrait mode
@media (max-width: 32em) and (min-height: 16em) {
  .item-preview-page {
    margin-top: 20vmin;
  }
}

// desktop display
@media (min-width: 32em) and (min-height: 32em) {
  .item-preview-page {
    margin-top: 6vmin;
  }
}

.item-preview-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-preview {
    // display: flex;
    // justify-content: center;
    display: grid;
    grid-template-columns: 6vmin 60vmin 6vmin;
  
    .close-button {
      font-size: 4vmin;
      height: 6vmin;
      color: $shape-color;
    }
  }
}

