$shape-color: #cfcfcf;

@media all and (max-width: 36em) {
  .shape-container {
    display: grid;
    grid-template-rows: 5em .5em;
    width: 5em;
    margin: .5em;
  }
  .shape-footer {
    font-size: .8em;
  }
}

@media all and (min-width: 36em) {
  .shape-container {
    display: grid;
    grid-template-rows: 8em 1.2em;
    width: 8em;
    margin: 1em;
  }
  .shape-footer {
    font-size: 1.2em;
  }
}

.shape-container {
  .shape {
    border: 1px solid gray;
    cursor: pointer;
  
    .svg-icon{
    // transform: rotate(180deg);
      width: 100%;
      height: 100%;
      fill: #cfcfcf;
      stroke: #cfcfcf;
      stroke-width: 0;
    }
  }

  .shape-footer {
    width: 100%;
    display: flex;
    flex-direction: space-between;
    padding: 0 .2em;

      .type {
        width: 85%;
      }

      .remove-button {
        width: 15%;
        cursor: pointer;
    }
  }

}
  
