$bg-color: #3e5875;
$shape-color: #cfcfcf;

.sign-in {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 10% 0 10%;

  // button {
  //   border: 1px solid $shape-color;
  //   line-height: 0;
  // }
}