$shape-color: #cfcfcf;
$bg-color: #3e5875;

@media (min-width: 32em) and (max-height: 36em) {
  .cart-container {
    height: 80vmin;
    width: 30vmin;
  }
}

// @media (max-width: 32em) and (min-height: 32em) {
//   .cart-container {
//     height: 60vmin;
//     width: 30vmin;
//   }
// }

@media (min-height: 36em) {
  .cart-container {
    height: 70vmin;
    width: 30vmin;
  }
}

.cart-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid $shape-color;
  background-color: $bg-color;
  top: 12vmin;
  right: 5vmin;
  z-index: 5;

  .cart-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding: 1em;

    .empty-message {
      font-size: 1em;
      margin: 10vmin auto;
    }
    
  }
}
