$shape-color: #cfcfcf;

.item-preview-footer {

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 8vmin;

    .item-name {
      background-color: transparent;
      color: $shape-color;
      font-size: 5vmin;
      border: none;
      outline: none;
    }

    .save-button {
      width: 7vmin;
    }
  }
  
  .footer-bottom {
    display: flex;
    justify-content: center;
  }

  .download-icon {
    width: 6vmin;
  }
}
