$shape-color: #cfcfcf;

.shape-container {
  display: grid;
  grid-template-rows: 240px 24px;
  width: 240px;
  margin: 24px;

    .shape {
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 2px solid gray;
      cursor: pointer;

    .shape-footer {
      width: 100%;
      display: flex;
      flex-direction: space-between;
      font-size: 24px;

      .type {
        width: 90%;
      }

      .plus {
        width: 10%;
        fill: $shape-color;
        cursor: pointer;
      }
    }
  }
}

