$shape-color: #d5d95b;

.shape-container {
  display: grid;
  grid-template-rows: 240px 24px;
  width: 240px;
  margin: 24px;

  .shape {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;

    .square {
      width: 160px;
      height: 160px;
      background: $shape-color;
    }

    .circle {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background: $shape-color;
    }
  }

  .shape-footer {
    width: 100%;
    text-align: center;
    font-size: 24px;

  }
}

