$shape-color: #cfcfcf;

@media all and (max-width: 36em) {
  .header {
    padding: .5em 1em;
  }

  .option {
    font-size: .8em
  }
}

@media all and (min-width: 36em) {
  .header {
    padding: 1em 2em;
  }     

  .option {
    font-size: 1.5em
  }
}


.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    width: 10%;
    cursor: pointer;
    .logo {
      .logo-fill {
        fill: $shape-color;
      }
      .logo-stroke {
        stroke: $shape-color;
        stroke-width: 14;
      }
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    
    .shopping-cart {
      height: 100%;
      width: 2em;
      margin-left: 1em;

      #shopping-cart {
        fill: $shape-color;
      }
    }
  }
}