$shape-color: #cfcfcf;

// // mobile landscape mode
// @media all and (min-width: 32em) {
//   .header {
//     height: 2em;
//   }
//     .logo {
//       width: 1em;
//     }

// }
// // mobile portrait mode
// @media (max-width: 32em) and (min-height: 16em) {
//   .header {

//     height: 15vmin;
//   }
// }
// // desktop display
// @media (min-width: 32em) and (min-height: 32em) {
//   .header {

//     height: 6em;
//   }     
// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vmin;
  padding: 1em;
  margin: 2vmin;

  .logo-container {
    cursor: pointer;

    .logo {
      width: 8vmin;

      .logo-fill {
        fill: $shape-color;
      }
      .logo-stroke {
        stroke: $shape-color;
        stroke-width: 14;
      }
    }
  }

  .options-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;

    .sign-in {
      font-size: 2vmin;
      padding: 0 2vmin;
    }
  }
}