$shape-color: #cfcfcf;
 
@media all and (max-width: 36em) {
  .menu-item-container {
    display: grid;
    grid-template-rows: 6em 1em;
    width: 6em;
    height: 7em;
    margin: .5em;
  }

  .menu-item-footer {
    font-size: 1em;
  }
}
@media all and (min-width: 36em) {
  .menu-item-container {
    display: grid;
    grid-template-rows: 10em 1.5em;
    width: 10em;
    height: 11.5em;
    margin: 1em;
  }

  .menu-item-footer {
    font-size: 1.5em;
  }
}

.menu-item {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  cursor: pointer;

}

.menu-item-footer {
  width: 100%;
  text-align: center;
}



