$bg-color: #3e5875;
$shape-color: #cfcfcf;
$font-type: 'Quicksand', sans-serif;

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1vmin;
  width: 100%;


  input, button {
    font-family: $font-type;
    background-color: transparent;
    color: $shape-color;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
  }

  .search-bar {
    width: 80%;
    font-size: 3vmin;
    padding-left: 1vmin;
  }

  .clear-button {
    margin-right: 2vmin;
      font-size: 3vmin;
    cursor: pointer;
  
    &.hidden {
      visibility: hidden;
    }
  }

  .search-icon {
    width: 4vmin;
    cursor: pointer;
    fill: $shape-color;
  }
}