$bg-color: #3e5875;
$shape-color: #cfcfcf;
$font-type: 'Quicksand', sans-serif;

.search-bar-container {
  display: flex;
  align-items: center;
  margin: 0 2em;
  width: 100%;

  input, button {
    font-family: $font-type;
    background-color: transparent;
    color: $shape-color;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
  }

  .search-bar {
    width: 100%;
    height: 40%;
    font-size: .8em;
    padding-left: 1em;
  }

  .search-button {
    width: 3em;
    cursor: pointer;
    fill: $shape-color;
  }
}