$bg-color: #3e5875;
$shape-color: #cfcfcf;

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  background-color: $bg-color;
  color: $shape-color;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;  /* fit all content, including padding, margin, and border, inside containers */
}
