body {
  font-family: 'Quicksand', sans-serif;
  background-color: #3e5875;
  color: #cfcfcf;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;  /* fit all content, including padding, margin, and border, inside containers */
}
