.cart-item {
  display: flex;


  .thumbnail {
    align-self: center;
    width: 5em;
    cursor: pointer;
  }

  .cart-item-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    .name {
      font-size: 0.8em;
    }

    .remove-button {
      cursor: pointer;
      line-height: 1.2em;
      padding-left: 1em;
    }

    .download-button {
      width: 2em;
    }
  }
}