.cart-item {
  display: flex;
  flex-direction: column;

  .thumbnail {
    align-self: center;
    width: 50%;
  }

  .cart-item-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    .name {
      font-size: 1em;
    }

    .remove-button {
      cursor: pointer;
      line-height: 1.2em;
      padding-left: 1em;
    }
  }
}